<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>

    <!-- Tailwind + FontAwesome -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900">

 

    <!-- Main content -->
    <main class="max-w-7xl mx-auto p-6">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>

</html>
